.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-message {
  background-color: red;
  line-height: 3em;
  color: white;
}

.user-info-form {
  margin: 20px auto;
  width: 50%;
}
.cocktailsContainer {
  overflow-x: auto;
  margin-bottom: -3%;
  /* border-style: solid;
  border-color: orange;
  opacity: 0.8;
  background-color: black; */
}

.cocktail {
  border-radius: 50%;
  flex: 0 0 250px;

}

.cocktailImage {
  border-radius: 50%;
  width: 70%;
  height: auto;
}

.cocktailItem {
  display:flex;
  height: 250px;
  overflow-x: scroll;
}

.main {
  position: relative;
  width:100%;
  height: 100%;
  min-height:calc(100vh - 61px);
  background: url("picture/bar2.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  background-size: cover;
  background-attachment:fixed;
}

.ui.menu {
    border-radius: 0px !important;
}

.title {
  font-size: 100px;
  color: orange;
  margin: 25px;
  /* -webkit-animation: flash linear 3s infinite;
	animation: flash linear 5s infinite;
}
@-webkit-keyframes flash {
	25% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes flash {
	25% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
  */
}

.subtitle {
  font-size: 3em;
}

.forms {
  border-style: solid;
  border-color: orange;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: -1%;
  opacity: 0.8;
  background-color: black;
}
